
:root {
    --ColorNavBar_1: #9bacd5;
    --ColorNavBar_2: #6b7ec1;

    --TextColor: #000000;

	--ColorSlideTitle: #94CDCB;
    --ColorHtml_1: #41a6dc;
    --ColorHtml_2: #e45355;
    --ColorHtml_3: #6984bd;
    --ColorHtml_4: #9bacd5;
    --ColorHtml_5: #37538f;
	--ColorHtml_6: #4b4b4b;

    --MainFontSize: 1.8rem;
    --MainLineHeight: 1.5;
    --MainFontFamily: Arial, "Source Sans Pro", sans-serif;

    --SlidePadding: 5.0rem;
    --MainMargin: 2.0rem;
}

/*General */
	.body_clase:not(.edit) .content-wrapper {
		padding-top: 100px;
		padding-bottom: 0px;
	}

	.body_clase.edit .content-wrapper {
		top: 0px;
	}

	.is_app{
		padding-top: 0px;
	}

	.is_app:not(.offline-pc) .content-wrapper {
		padding-top: 55px;
	}

	#actividad {
		margin-bottom: 0px;
		-webkit-transform: none;
		-webkit-transform-style: flat;
	}

	.slide-wrapper,
	.cke_contents {
		text-align: justify;
	}

	#actividad .carousel-inner .item-container {
		background-image: none;
		margin: 20px auto 30px;
		padding: 0px;
		padding-bottom: 90px;
		position: relative;
	}

	#actividad .content .header .title img,
	#actividad .content .header .chapter {
		display: none;
	}

	#indice .units ul li a .number,
	#indice .unit-content .header .number
	 {
		visibility: hidden;
	}

	.slide_main input {
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ccc;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	}

	.slide_main input:focus {
		border-top-color: #3AC62A;
		border-right-color: #3AC62A;
		border-bottom-color: #3AC62A;
		border-left-color: #3AC62A;
		outline-width: 0px;
		outline-style: none;
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(133, 200, 57, 0.6);
	}

	.slide_main input[disabled],
	.slide_main input[readonly],
	fieldset[disabled] .slide_main input {
		cursor: not-allowed;
		background-color: #eee;
		opacity: 1;
	}

	.slide_main input.respuesta_ok {
		border-color: #57e900;
		background: #D1F3BD;
	}

	.slide_main input.respuesta_ko {
		border-color: #FF3626;
		background: #FFA49D;
	}

	.slide_main input.solucion {
		border-color: #00BDFF;
		background: #B6ECFF;
	}

	table {
		margin-bottom: 20px;
	}

	.zoom_flag_img {
	    top: 20px;
	}
/**/

/*-----------------------------*/
/*---------- NAVBAR ----------*/
/*-----------------------------*/

/* Navbar (Breadcums) */

    /*---- Se puede eliminar la regla al integrar el código*/
	.navbar-content:before {
        display: none;
	}
    /*---*/

	.PearsonBR_Imaginarium_dev-navbar {
		position: fixed;
		top: 44px;
		background-color: var(--ColorNavBar_1);
		width: 100%;
		left: 0;
		z-index: 100;
	}

	.is_app .PearsonBR_Imaginarium_dev-navbar {
		position: sticky;
		top: 0px;
	}

	#top-navigator {
		height: 55px;
		overflow: hidden;
		position: relative;
	}

	#top-navigator.show_left:before {
		color: var(--ColorNavBar_2);
        background: linear-gradient(to right, var(--ColorNavBar_1), transparent);
    }

    #top-navigator.show_right:after {
    	color: var(--ColorNavBar_2);
        background: linear-gradient(to left, var(--ColorNavBar_1), transparent);
    }

	#top-navigator .slider-indicators li {
		text-indent: 0;
	}

	.PearsonBR_Imaginarium_dev-navbar .navbar-content {
		max-width: 960px;
		margin: 0 auto;
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}

	.PearsonBR_Imaginarium_dev-navbar .slider-indicators {
		padding: 3px 0px;
		display: inline-block;
		text-align: left;
		position: absolute;
		width: 5000px;
		bottom: 0px;
		left: 0px;
		z-index: 0;
	}

	.edit .slider-indicators {
		padding-top: 10px;
	}

	.PearsonBR_Imaginarium_dev-navbar .dropdown button,
	.PearsonBR_Imaginarium_dev-navbar li {
		border-radius: 5px;
		border: none;
		background-color: white;
		color: var(--ColorNavBar_2);
		vertical-align: middle;
		margin: 0px 5px;
		text-indent: 0px;
		line-height: 3.5rem;
		font-size: 2.0rem;
		font-weight: bold;
		cursor: pointer;
	}

	.slider-indicators li {
		width: 35px;
		height: 35px;
		background-color: #FFF;
		margin: 0px 5px;
		text-align: center;
	}

	.slider-indicators li.active,
	.PearsonBR_Imaginarium_dev-navbar li:hover,
	.PearsonBR_Imaginarium_dev-navbar .dropdown button:hover {
		background-color: var(--ColorNavBar_2);
		color: #FFF;
	}

	.PearsonBR_Imaginarium_dev-navbar .dropdown button {
		width: auto;
		padding: 0px 10px;
	}

	/*.slider-indicators li:first-of-type {
		width: auto;
		padding: 0px 10px;
	}*/

	.PearsonBR_Imaginarium_dev-navbar .dropdown {
		display: block;
		float: left;
		margin-top: 10px;
	}

	.open > .dropdown-menu {
		display: block;
		max-height: 300px;
		overflow-y: auto;
	}
    .dropdown-menu>li>a:hover,
     .dropdown-menu>li>a:focus {
        transition: none;
    }

	.PearsonBR_Imaginarium_dev-navbar .dropdown button {
		border: none;
	}

	.PearsonBR_Imaginarium_dev-navbar .dropdown button:focus {
		outline: none;
	}

	.PearsonBR_Imaginarium_dev-navbar .dropdown li {
		display: list-item;
		width: auto;
	}

	.PearsonBR_Imaginarium_dev-navbar .dropdown li a {
		color: var(--ColorNavBar_2);
		font-weight: bold;
	}

	.PearsonBR_Imaginarium_dev-navbar .dropdown .caret {
		border-color: var(--ColorNavBar_2) transparent transparent transparent;
	}

	.PearsonBR_Imaginarium_dev-navbar .dropdown:hover .caret {
		border-color: #FFF transparent transparent transparent;
	}
/**/

/* Navigators */
	.navigator {
		bottom: 0;
		left: 0;
		position: absolute;
		width: 100%;
		padding: 0px 97px;
	}

	.main-navigator {
		padding: 15px 0px;
		width: 100%;
		border-top: 1px solid #e5e5e5;
	}

	.navigator .left, .navigator .right {
		width: 49%;
		display: inline-block;
		cursor: pointer;
	}

	.navigator .left {
		padding-left: 20px;
	}

	.navigator .right {
		text-align: right;
		padding-right: 20px;
	}

	.navigator .title {
		font-size: 1.6rem;
		line-height: 4.0rem;
		display: inline-block;
		vertical-align: top;
		width: calc(100% - 20px);
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.navigator .slider-control.left,
	.navigator .slider-control.right {
		position: static;
		height: auto;
		width: 100%;
		background-color: transparent;
		border-radius: 0px;
		margin: 0px;
		opacity: 1;
		text-shadow: none;
		color: #999;
		font-size: 2.3rem;
	}

	.navigator .slider-control.left:before,
	.navigator .slider-control.right:after {
		font-family: 'FontAwesome';
		position: absolute;
		margin-top: 9px;
	}

	.navigator .slider-control.left:before {
		margin-left: -20px;
		content: "\f104";
	}

	.navigator .slider-control.right:after {
		margin-left: 20px;
		content: "\f105";
	}

	.navigator .slider-control span {
		position: static;
		margin: 0px;
        cursor: pointer;
	}

	.slider-indicators .active {
		width: 35px;
		height: 35px;
	}
/**/

/*----------------------------------------------*/
/*----------- GENERALES SLIDES HTML -------------*/
/*----------------------------------------------*/

/*General para que lean las variables*/
#actividad .texto_curso {
    font-family: var(--MainFontFamily);
    font-size: var(--MainFontSize);
    line-height: var(--MainLineHeight) !important;
}
#actividad .texto_curso p{
    line-height: var(--MainLineHeight) !important;
}
#actividad .pregunta .texto_curso {
	font-size: var(--MainFontSize);	
}
#actividad .workspace {
    font-size: var(--MainFontSize);
    line-height: var(--MainLineHeight);
}

/* Padding de la slide */
#actividad .class_slide {
    padding: 0 var(--SlidePadding) 50px;
}
#actividad .class_slide:last-of-type {
    padding-bottom: 100px;
}
#actividad .slide-concatenate .class_slide {
    padding-bottom: 20px;
}
#actividad .slide-concatenate:last-of-type .class_slide {
    padding-bottom: 100px;
}
#actividad .slide-concatenate:last-child .class_slide:last-of-type {
    /*padding-bottom: 100px;*/
}


/* CKEDITOR */
/*Enlaces*/
.body_clase:not(.edit)  #actividad .slide-wrapper a {
    color: inherit;
    text-decoration: underline;
}
.body_clase:not(.edit)  #actividad .slide-wrapper a:hover,
.body_clase:not(.edit)  #actividad .slide-wrapper a:active,
.body_clase:not(.edit)  #actividad .slide-wrapper a:focus {
    color: var(--ColorHtml_1);
}

/*Audio*/
#actividad .player.audio,
 #actividad .player.video,
  #help-panel-content .player,
   #remote-alert-modal-rich .player {
    background-image: url(images/icone-audio-kinder.png);
	background-color: transparent;
    background-position: center;
    background-size: contain;
    vertical-align: middle;
	margin-top: -7px;
}

/*Archivo adjunto*/
.bck-file-attach img {
	display: none;
}
.body_clase:not(.edit) #actividad .slide-wrapper a.bck-file-attach {
    text-decoration: none;
}
.bck-file-attach span {
    display: block;
    margin-bottom: var(--MainMargin);
    max-width: 100%;
}
.bck-file-label,
 .bck-sub-label {
    background: none;
    max-width: none;
    border: 2px solid var(--ColorHtml_3);
    color: var(--ColorHtml_3);
    margin-left: -3px;
    margin-bottom: 0;
    border-radius: 0;
    position: relative;
    padding: 5px 8px 5px 9px;
    border-radius: 5px;
}
.bck-file-attach:hover .bck-file-label,
 .bck-file-attach:active .bck-file-label,
  .bck-file-attach:focus .bck-file-label {
	border-color: transparent;
	background-color: var(--ColorHtml_3);
	color: #ffffff;
}
.bck-file-attach .bck-file-label:before {
    font-family: 'FontAwesome';
    content: "\f15b";
    position: relative;
    bottom: 0;
    left: 0;
    border: 0;
    background: none;
    margin-right: 5px;
}


/* TITULO DE LA SLIDE */
.body_clase:not(.edit) #actividad .content .header {
	position: relative;
	border: none;
    width: calc(100% + var(--SlidePadding) * 2);
    margin-left: calc(-1 * var(--SlidePadding));
    background-color: var(--ColorSlideTitle);
    padding: 2rem var(--SlidePadding);
    color: white;
}
#actividad .slide-concatenate .content .header.empty {
	display: none;
}
#actividad .content .header.empty {
    border-bottom: 0;
    background: none;
}
.body_clase:not(.edit) #actividad .content .header:before {
	content: "";
    background-image: url(images/icone-titulo-kinder.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    width: 50px;
    height: 100%;
    top: 0;
    left: 17px;
}
#actividad .content .header.empty:before {
    display: none;
}
#actividad .content .header .title {
    margin-bottom: 0;
	margin-left: 20px;
}
#actividad .content .header .title h3 {
    font-size: 3.4rem;
    margin-top: 0px;
    font-weight: bold;
    display: block;
    margin-bottom: 0;
}
	#actividad .content img{
		margin-top: 10px;
		margin-bottom: 10px;
	}

/*-- Titulos --*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0 0 var(--MainMargin);
    font-family: var(--MainFontFamily);
    line-height: 1.1;
}
 .bck-title-1 {
    font-size: calc(var(--MainFontSize) * 2);
    color: var(--ColorHtml_1);
    font-weight: bold;
}
.bck-title-2 {
    font-size: calc(var(--MainFontSize) * 1.8);
    color: var(--ColorHtml_2);
    font-weight: bold;
}
.bck-title-3 {
  font-size: calc(var(--MainFontSize) * 1.5);
  color: var(--ColorHtml_3);
  font-weight: bold;
}
.bck-title-4 {
    font-size: calc(var(--MainFontSize) * 1.3);
    color: var(--ColorHtml_3);
    font-weight: bold;
}
.bck-title-5 {
    font-size: calc(var(--MainFontSize) * 1.1);
    color: var(--ColorHtml_6);
    font-weight: bold;
}
.bck-title-6 {
    display: block;
    position: relative;
    font-size: var(--MainFontSize);
    background-color: #EC8153;
    color: #ffffff;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    padding-left: 3rem;
}
.bck-title-6:before {
	position: absolute;
	content: "";
	width: 40px;
	height: 40px;
	background-image: url(images/titulo-especial-kinder_icono.png);
	background-repeat: no-repeat;
	bottom: -10px;
	left: -10px;
}

/*Estilos de párrafo*/
#actividad p.bck-p-1 {
    font-size: 1.8rem;
}
#actividad p.bck-p-2 {
    font-size: 1.6rem;
}
#actividad p.bck-p-3 {
    font-size: 1.4rem;
}
#actividad p.bck-p-4 {
    font-size: 1.2rem;
}
#actividad p.bck-p-5 {
    font-size: 2.0rem;
}
#actividad p.bck-p-6 {
    font-size: 2.2rem;
}

/* CAJAS */
.bck-box {
    padding: 1.5rem;
    margin-bottom: var(--MainMargin);
    border: 1px solid var(--ColorHtml_1);
}
.bck-box.center {
    margin: 0 auto;
    margin-bottom: var(--MainMargin);
}
.bck-box.left {
    float: left;
    margin-right: 25px;
}
.bck-box.right {
    float: right;
    margin-left: 25px;
}
.bck-box > .bck-title {
    font-size: calc(var(--MainFontSize) * 1.2);
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.bck-box-1 {
    border: 0;
    background-color: var(--ColorHtml_1);
    color: #ffffff;
    border-radius: 10px;
}

/*--- LISTAS -----*/
#actividad .texto_curso li,
#actividad .workspace ul li li {
    margin-bottom: 1.0rem;
}
/*-- Listas ordenadas --*/
.texto_curso ul,
 .texto_curso ol,
  .workspace:not(.multiple-choice,.matching,.ordenar,.clasificar,.test) ul li ul,
   .workspace:not(.multiple-choice,.matching,.ordenar,.clasificar,.test) ul li ol,
    .cke_contents ul,
	 .cke_contents ol,
	  .popover-content ul,
	   .popover-content ol {
		padding-left: 20px;
}
.content .bck-ol {
    list-style-type: none;
    padding: 0;
    counter-reset: bck-li-counter;
}
.content .bck-ol li {
    counter-increment: bck-li-counter;
    position: relative;
    margin-left: 2.0rem;  
}
.content .bck-ol li:before {
    content: counter(bck-li-counter) ".";
    position: absolute;
    margin-left: 0; 
    text-align: right;
    color: var(--ColorHtml_3);
    font-weight: bold;
    font-size: 1em;
    margin-top: 0; 
    width: 6rem;
    left: -6.5rem;
}

/*ListaS desordenadas */
#actividad .texto_curso ul li,
#actividad ul.bck-ul > li {
    position: relative;
    padding-left: 2rem;
}
#actividad .texto_curso ul li:before,
    #actividad ul.bck-ul > li:before {
    content: "";
    background: var(--ColorHtml_3);
    color: var(--ColorHtml_3);
    text-align: center;
    width: 0.4em;
    height: 0.4em;
    line-height: var(--MainLineHeight);
    left: 0;
    margin-top: .5em;
    margin-left: 0;
}
/*Desplegables */
.bck-dropdown {
    width: 100%;
    margin-bottom: var(--MainMargin);
    background-color: transparent;
}
.bck-dropdown .bck-dropdown-titulo {
    color: var(--ColorHtml_1);
    cursor: pointer;
    font-size: calc(var(--MainFontSize) * 1.4);
    font-weight: bold;
    padding: 0;
}
.bck-dropdown .bck-dropdown-button {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1.0rem 1.5rem 1.0rem 0;
    background-color: transparent;
    color: var(--ColorHtml_1);
}
.bck-dropdown .bck-dropdown-icon {
    position: relative;
    width: auto;
    height: auto;
    margin-right: 1.0rem;
}
.bck-dropdown .bck-dropdown-icon>.fa {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #ffffff;
    border: none;
    padding: 0;
    font-size: 1em;
    background-color: var(--ColorHtml_1);
    padding: 1.0rem;
}
.bck-dropdown .bck-dropdown-content {
    width: 100%;
    background-color: var(--ColorHtml_1);
    color: #ffffff;
    border: 0;
    max-height: none;
    padding: 2rem;
    border-radius: 10px;
}

/*Flipbox*/
#actividad .bck-flipbox {
    width: 100%;
    font-size: var(--MainFontSize);
    font-weight: normal;
    cursor: pointer;
    margin-bottom: var(--MainMargin);
}
.bck-flipbox-title,
.bck-flipbox-section {
    background-color: transparent;
}
#actividad .bck-flipbox .bck-flipbox-face {
    font-size: var(--MainFontSize);
    line-height: var(--MainLineHeight);
    border: none;
    padding: 1.6rem 2.5rem 1.8rem;
}
#actividad .bck-flipbox .bck-flipbox-face .bck-flipbox-section {
    padding: 0;
    padding-bottom: 0;
    font-weight: 400;
}
#actividad .bck-flipbox .bck-flipbox-face.front {
    background-color: var(--ColorHtml_3);
    box-shadow: 0px 4px 6px #989898;
    color: #ffffff;
    border-radius: 10px;
}
#actividad .bck-flipbox .bck-flipbox-face.front .bck-flipbox-section {
    color: inherit;
}
#actividad .bck-flipbox .bck-flipbox-face.back {
    color: var(--ColorHtml_5);
    background-color: var(--ColorHtml_4);
    border-radius: 10px;
}
#actividad .bck-flipbox .bck-flipbox-face.back .bck-flipbox-section {
    color: inherit;
}

/*Tablas*/
/*Generales tabla*/
#actividad div:not(.calculo) > table:not(.rf-tablegrid):not(.puzzle) {
    width: 100%;
    border: 1px solid var(--ColorHtml_5);
    font-size: var(--MainFontSize);
    margin-bottom: 2.0rem;
}
#actividad div:not(.calculo) > table:not(.rf-tablegrid):not(.puzzle) tbody td {
    color: var(--ColorHtml_5);
    padding: 1.0rem 2.0rem;
    border: 1px solid var(--ColorHtml_5);
    text-align: center;
}
/*Estilos tabla y celda*/
#actividad div:not(.calculo) > table:not(.rf-tablegrid):not(.puzzle) tbody .bck-td-1 {
    background-color: var(--ColorHtml_4);
    font-weight: bold;
}

/*Popup*/
#actividad .info-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--MainMargin);
    color: var(--ColorHtml_1);
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    border: 0;
    outline: 2px solid var(--ColorHtml_1);
    box-shadow: 0 0 7px #000000;
    font-size: 1.8rem;   
}
.info-template.shown {
	padding: 1.5rem 1.0rem 1.0rem;
	border-radius: 0;
	box-shadow: none;
	background: #ffffff;
	border: 2px solid var(--ColorHtml_1);
	border-right: 0;
}
.info-template .info-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid var(--ColorHtml_1);
	width: 2.5rem;
	height: 2.5rem;
	font-size: 1.6rem;
}
#actividad .info-button {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: var(--MainMargin);
	color: var(--ColorHtml_1);
	cursor: pointer;
	width: 4rem;
	height: 4rem;
	border: 0;
	outline: 2px solid var(--ColorHtml_1);
	box-shadow: 0 0 6px #000000;
	font-size: 1.8rem;
}
#actividad .info-template .info-title,
#actividad .info-template .info-icon {
	color: var(--ColorHtml_1);
}
#actividad .info-template .info-title {
	font-size: calc(var(--MainFontSize) / 1.1);
	font-weight: bold;
	line-height: var(--MainLineHeight);
	margin: 0;
}
.close-popover {
	font-size: var(--MainFontSize);
	background-color: var(--TextColor);
	color: white;
	top: 0;
	right: 0;
	padding: 0.5rem;
	border-bottom-left-radius: 5px;
	width: 3rem;
	height: 3rem;
}  

/* Content: popover template*/
#actividad .popover-container .popover-title:before {
        display: none;
}    
#actividad .popover-container .popover-title:before,
#actividad .popover-container .popover-title .popover-title-text {
    color: inherit;
}
#actividad .popover-container .popover-title .popover-title-text {
    font-weight: bold;
    margin: 0;
}    
#actividad .popover-container .popover-content {
    color: var(--TextColor);
    font-size: var(--MainFontSize);
    padding: 1.0rem 1.5rem;
}    
.body_clase:not(.edit) > .popover-template{
    background-color: rgb(255,255,255);
}
.body_clase.edit .popover-title,
.popover-template .popover-title {
color: (var(--ColorHtml_1));
font-size: var(--MainFontSize);
line-height: var(--MainLineHeight);
display: flex;
padding: 1.0rem 4.5rem 1.0rem 1.5rem;
}

/*Archivos adjuntos*/
.bck-file-attach span {
    vertical-align: middle;
}

/*--TABS--*/
body:not(.edit) .bck-tabs-box {
    background-color: transparent;
    border: 0;
}
.bck-tabtitles {
	font-weight: bold;
    background-color: var(--ColorHtml_4);
    color: var(--ColorHtml_5);
    border: 1px solid var(--ColorHtml_5);
    border-radius: 10px 10px 0 0;
    padding: 0.8rem 4.5rem;
    border-bottom: 0;
}
.bck-tabtitles.bck-tabs-active,
 .bck-tabtitles:hover {
    background-color: var(--ColorHtml_3);
    color: #ffffff;
}
body:not(.edit) .bck-tabcontents .div-contents {
    border: 1px solid var(--ColorHtml_5);
    padding: 1.5rem;
}
/*-----------------*/
/*--------- ACTIVIDADES -----------*/
.workspace.frame {
	padding: 0;
}
.true-false .checkbox-option label.filter-label {
    font-size: var(--MainFontSize);
}
.workspace.true-false .radio-option input.filter-radio[type="radio"]+label.filter-label,
.workspace.test .radio-option input.filter-radio[type="radio"]+label.filter-label {
    font-size: var(--MainFontSize);
    display: flex;
    align-items: center;
    line-height: 24px;
    padding-left: 30px;
}
/*
#actividad .workspace.true-false .respuesta_ok {
    border-bottom: 0;
}
#actividad .workspace.true-false .respuesta_ko {
    border-bottom: 0;
}
#actividad .workspace.true-false .solucion {
    border-bottom: 0;
    color: var(--TextColor);
}
*/
/*---------- Botonera ----------------*/
#actividad .btn{
	border-radius: 5px;
	font-weight: 700;
	font-size: 1.6rem;
}
#actividad .btn[disabled] {
	background-color: var(--ColorHtml_3) !important;
	border: 2px solid var(--ColorHtml_3) !important;
	color: #ffffff !important;
}
#actividad .btn-primary {
	border: 2px solid var(--ColorHtml_3);
	background-color: #ffffff;
	color: var(--ColorHtml_3);
}
#actividad .btn-primary:hover,
#actividad .btn-primary:focus,
#actividad .btn-primary:active,
#actividad .btn-primary.active,
#actividad .open .dropdown-toggle .btn-primary {
	border: 2px solid var(--ColorHtml_3);
	background-color: var(--ColorHtml_3);
	color: #ffffff;
}
#actividad .btn-solution {
	border: 2px solid #00bdff;
	background-color: #ffffff;
	color: #00bdff;
}
#actividad .btn-solution:hover {
	background-color: #00bdff;
	color: #ffffff;
}
#actividad .btn-danger{
	border: 2px solid var(--ColorHtml_3);
	background-color: #ffffff;
	color: var(--ColorHtml_3);
}
#actividad .btn-danger:hover {
	background-color: var(--ColorHtml_3);
	color: #ffffff;
}
#actividad .content .review .attemps {
    font-size: 1.6rem;
}
#actividad .content .review .attemps span {
	background-color: var(--ColorHtml_3);
	border-radius: 5px;
    padding: 4px 10px;
    font-size: 1.8rem;
}
/*--------------------------------------*/
/*Verdadero y falso y test*/
/*Damos formatos a los checkbox*/
.true-false .radio-option label.filter-label::before,
.test .radio-option label.filter-label::before {
    content: "";
    background: none;
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 2px solid #D8D8D8;
    border-radius: 3px;
    line-height: 22px;
}
.true-false .radio-option input.filter-radio[type="radio"]:checked + label.filter-label::before,
.test .radio-option input.filter-radio[type="radio"]:checked + label.filter-label::before {
    position: absolute;
    border-color: var(--ColorHtml_3);
    background-color: var(--ColorHtml_3);
}
.true-false .radio-option input.filter-radio[type="radio"]:checked + label.filter-label::after,
.test .radio-option input.filter-radio[type="radio"]:checked + label.filter-label::after {
    position: absolute;
    content: "\f00c";
    font-family: "FontAwesome";
    color: #ffffff;
    font-size: 15px;
    background: none;
    left: 4px;
    top: 0px;
}

#actividad .workspace.test .respuesta_ok,
#actividad .workspace.true-false .respuesta_ok {
  border: 2px solid #74d320;
}
#actividad .workspace.test .respuesta_ko,
#actividad .workspace.true-false .respuesta_ko {
  border: 2px solid #ef0c24;
  background-color: #FFD8DC;
}

#actividad .workspace.test .solucion,
#actividad .workspace.true-false .solucion {
	border: 2px solid #00BDFF;
  background-color: #B6ECFF;
}



/*
.true-false .radio-option input.filter-radio[type="radio"]:checked + label.respuesta_ok.filter-label::before {
    background-color: #74d320;
    border-color: #74d320;
}
.true-false .radio-option input.filter-radio[type="radio"]:checked + label.respuesta_ok.filter-label::after {
    color: #fff;
}
.true-false .radio-option input.filter-radio[type="radio"]:checked + label.respuesta_ko.filter-label::before {
    background-color: #ef0c24;
    border-color: #ef0c24;
}
.true-false .radio-option input.filter-radio[type="radio"]:checked + label.respuesta_ko.filter-label::after {
    content: "\f00d";
    color: #fff;
    left: 6px;
}
.true-false .radio-option input.filter-radio[type="radio"]:checked + label.solucion.filter-label::before {
	border-color: #00BDFF;
	background-color: #00BDFF;
}
.true-false .radio-option input.filter-radio[type="radio"]:checked + label.solucion.filter-label::after {
    display: none;
}
*/

/*------------*/

/*Marcar palabras*/
#actividad .markwords-word {
    line-height: var(--MainLineHeight) !important;	
}
/*Grabar sonido*/
/*Reducimos padding del botón para que no se descuadren mucho las listas*/
.btnaudiorecorder.btn-primary {
    padding: 2px 10px;
}

/*------*/

/*-----------------------------*/
/*---- COURSETAGS ----*/
/*coursetag_primaria*/
.coursetag_primaria {
	--ColorNavBar_1: #ab9bc4;
    --ColorNavBar_2: #8b62a5;

	--ColorSlideTitle: #0E4194;
    --ColorHtml_1: #54b2e3;
    --ColorHtml_2: #8960a2;
    --ColorHtml_3: #8960a2;
    --ColorHtml_4: #ceabe4;
    --ColorHtml_5: #582d72;	
	--ColorHtml_6: #272727;
}

.body_clase:not(.edit).coursetag_primaria #actividad .content .header:before {
    background-image: url(images/icone-titulo-primary.png);
}
.coursetag_primaria #actividad .player.audio,
.coursetag_primaria #actividad .player.video,
.coursetag_primaria #help-panel-content .player,
.coursetag_primaria #remote-alert-modal-rich .player {
    background-image: url(images/icone-audio-primary.png);
}

.coursetag_primaria .bck-title-6 {
    background-color: #008DD1;
	border-radius: 10px;
}
.coursetag_primaria .bck-title-6:before {
	background-image: url(images/titulo-especial-primary_icono.png);
	background-size: 25px;
}

/*coursetag_secundaria*/
.coursetag_secundaria {
	--ColorNavBar_1: #bfd0e7;
    --ColorNavBar_2: #e85859;

	--ColorSlideTitle: #E85859;
    --ColorHtml_1: #e55e5d;
    --ColorHtml_2: #6969aa;
    --ColorHtml_3: #5482be;
    --ColorHtml_4: #6969aa;
    --ColorHtml_5: #404092;	
	--ColorHtml_6: #272727;
}

.body_clase:not(.edit).coursetag_secundaria #actividad .content .header:before {
    background-image: url(images/icone-titulo-secundary.png);
}
.coursetag_secundaria #actividad .player.audio,
.coursetag_secundaria #actividad .player.video,
.coursetag_secundaria #help-panel-content .player,
.coursetag_secundaria #remote-alert-modal-rich .player {
    background-image: url(images/icone-audio-secondary.png);
}
.coursetag_secundaria .bck-title-6 {
    background-color: #0088CC;
}
.coursetag_secundaria .bck-title-6:before {
    background-image: url(images/titulo-especial-secondary-icone.png);
    left: 7px;
    background-size: 14px;
    height: 100%;
    top: 5px;
}

.coursetag_secundaria .content .bck-ol li:before {
    color: var(--ColorHtml_1);
}
.coursetag_secundaria #actividad .texto_curso ul li:before,
.coursetag_secundaria #actividad ul.bck-ul > li:before {
    background: var(--ColorHtml_1);
    color: var(--ColorHtml_1);
}
.coursetag_secundaria .bck-dropdown .bck-dropdown-titulo {
    color: var(--ColorHtml_3);
}
.coursetag_secundaria .bck-dropdown .bck-dropdown-button {
    color: var(--ColorHtml_3);
}
.coursetag_secundaria .bck-dropdown .bck-dropdown-icon>.fa {
    background-color: var(--ColorHtml_3);
}
.coursetag_secundaria .bck-dropdown .bck-dropdown-content {
    background-color: var(--ColorHtml_3);
}

.coursetag_secundaria #actividad .bck-flipbox .bck-flipbox-face.front {
    background-color: var(--ColorHtml_2);
}
.coursetag_secundaria #actividad .bck-flipbox .bck-flipbox-face.back {
    color: #ffffff;
    background-color: var(--ColorHtml_5);
}

.coursetag_secundaria .bck-tabtitles {
    background-color: var(--ColorHtml_2);
    color: #ffffff;
    border-color: var(--ColorHtml_5);
}
.coursetag_secundaria .bck-tabtitles.bck-tabs-active,
.coursetag_secundaria .bck-tabtitles:hover {
    background-color: var(--ColorHtml_5);
    color: #ffffff;
}
body:not(.edit).coursetag_secundaria .bck-tabcontents .div-contents {
    border-color: var(--ColorHtml_5);
}

.coursetag_secundaria #actividad div:not(.calculo) > table:not(.rf-tablegrid):not(.puzzle) tbody .bck-td-1 {
    background-color: var(--ColorHtml_5);
	color: #ffffff;	
}


/*Estas reglas vienen directamente del estilo Publisher
Las modifico*/

@media screen and (max-width: 768px) {
    #actividad .carousel-inner .class_slide {
        padding: 0 var(--SlidePadding) 50px;
    }
}

@media screen and (max-width: 480px) {
    #actividad .carousel-inner .item-container {
		padding: inherit;
	}
}

/* TMPUX STYLES */

.tmpux.modo_revision .PearsonBR_Imaginarium_dev-navbar, 
.tmpux.modo-correccion .PearsonBR_Imaginarium_dev-navbar,
.tmpux.modo-deber .PearsonBR_Imaginarium_dev-navbar{
    top: 0px;
}

.tmpux.modo_revision #actividad .carousel-inner .item-container,
.tmpux.modo-correccion #actividad .carousel-inner .item-container,
.tmpux.modo-deber #actividad .carousel-inner .item-container {
    margin: 86px auto 30px;
}


